{% load i18n %}
{% load staticfiles %}

<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8"/>
        <title>{% block header_title %}{{ title }}{% endblock %}</title>
        <meta name="description" content="TODO">
        <meta name="author" content="TODO">
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <link rel="stylesheet" href="{% static 'css/style.css' %}"/>
        {% block extra_head %}{% endblock %}
    </head>
    <body>
        <div id="wrapper">
            <header>
                {% block header %}{% endblock %}
            </header>
            
            <nav>
                {% block navigation %}{% endblock %}
            </nav>
            
            <div id="main-content">
                {% block content %}{% endblock %}
            </div>
            
            <footer>
                <div style="float: left">
                    <a href="{% url 'about' %}">Über uns</a>
                </div>
                <div style="float: right">
                    <a href="{% url 'datenschutz' %}">Datenschutz</a>,
                    <a href="{% url 'impressum' %}">Impressum</a>
                </div>
            </footer>
        </div>

        <script src="{% static 'js/jquery/dist/jquery.min.js' %}"></script>
        {% block scripts %}{% endblock %}
    </body>
</html>
