{% load i18n %}
{% load staticfiles %}

<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8"/>
        <title>{% block header_title %}{{ title }}{% endblock %}</title>
        <meta name="description" content="TODO">
        <meta name="author" content="TODO">
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <link rel="stylesheet" href="{% static 'css/style.css' %}"/>
        {% block extra_head %}{% endblock %}
    </head>
    <body>
        {% block body-content %}{% endblock %}

        {% block scripts %}{% endblock %}
    </body>
</html>
