{% extends is_embedded|yesno:"embed.html,standalone.html" %}
{% load i18n %}
{% load staticfiles %}

{% block header_title %} Danke für deine Teilnahme! {% endblock %}

{% block header %}
<h1>Vielen Dank für deine Teilnahme!</h1>
{% endblock %}

{% block content-standalone %}
<p>[Irgendetwas, das zeigt, dass wir es wirklich toll finden, dass jemand bei der Umfrage mitgemacht hat]</p>
<p><a href="{% url 'index' %}">[icon arrow left] Zurück zu Startseite</a></p>
{% endblock %}

{% block content-embed %}
<h1>Vielen Dank für deine Teilnahme!</h1>

<p>[Irgendetwas, das zeigt, dass wir es wirklich toll finden, dass jemand bei der Umfrage mitgemacht hat]</p>
{% endblock %}
