{% extends is_embedded|yesno:"embed.html,standalone.html" %}
{% load i18n %}
{% load staticfiles %}
{% load to_list %}

{% block header_title %} Deine Miete {% endblock %}

{% block extra_head %}
<link rel="stylesheet" href="{% static 'css/index.css' %}"/>
{%endblock %}

{% block header %}
<h1>Deine Miete</h1>
{% endblock %}

{% block content-standalone %}
    <p style="text-align: center; font-size: 30px; color: grey">[Video]</p>

    <h2>Wer wir sind</h2>
    <ul id="partners">
        <li>
            <div><img src="{% static 'img/logo-code-for-muenchen.svg' %}" alt="Logo Code for München"></div>
            <div>Code for München</div>
        </li>
        <li>
            <div><img src="{% static 'img/logo-merkur-de.jpg' %}" alt="Logo des Münchner Merkur"></div>
            <div>Münchner Merkur</div>
        </li>
        <li>
            <div><img src="{% static 'img/logo-tz-de.jpg' %}" alt="Logo der TZ"></div>
            <div>TZ</div>
        </li>
    </ul>

    <h2>Die Umfrage</h2>
    {% include "index_form.html" %}
{% endblock %}

{% block content-embed %}
    {% include "index_form.html" %}
    <a href="{% url 'datenschutz' %}">Datenschutz</a>
{% endblock %}

{% block scripts %}
<script src="{% static 'js/jquery/dist/jquery.min.js' %}"></script>
<script>
$("select[name='0-plz']").change(function() {
    map = {
        80933: ['Feldmoching', 'Lerchenau-Ost'],
        81825: ['Berg am Laim Ost', 'Gartenstadt Trudering', 'Josephsburg', 'Waldtrudering'],
        81679: ['Altbogenhausen', 'Herzogpark', 'Parkstadt'],
        80804: ['Am Luitpoldpark', 'Münchner Freiheit', 'Neufreimann'],
        81375: ['Großhadern', 'Neuhadern'],
        80687: ['Am Westbad', 'Friedenheim', 'Neuhausen', 'Neupasing', 'Nymphenburg', 'St. Ulrich', 'Westend'],
        80539: ['Englischer Garten', 'Graggenau', 'Kreuzviertel', 'Lehel', 'Schwabing-Ost', 'Schönfeldvorstadt', 'Universität'],
        81245: ['Altaubing', 'Lochhausen', 'Neupasing', 'Obermenzing'],
        80689: ['Am Westbad', 'Blumenau', 'Neuhadern', 'Pasing', 'St. Ulrich'],
        81241: ['Am Westbad', 'Aubing-Süd', 'Blumenau', 'Neupasing', 'Pasing'],
        80993: ['Alt-Moosach', 'Moosach-Bahnhof'],
        80333: ['Augustenstraße', 'Graggenau', 'Josephsplatz', 'Kreuzviertel', 'Königsplatz', 'Universität'],
        81667: ['Haidhausen Nord', 'Haidhausen Süd', 'Maximilianeum', 'Ramersdorf'],
        81547: ['Giesing', 'Neuharlaching', 'Obergiesing'],
        80337: ['Am Schlachthof', 'Am alten südlichen Friedhof', 'Angerviertel', 'Dreimühlen', 'Ludwigsvorstadt-Kliniken', 'Sendlinger Feld', 'St. Paul'],
        80538: ['Deutsches Museum', 'Englischer Garten', 'Kleinhesselohe', 'Lehel'],
        81247: ['Allach-Untermenzing', 'Industriebezirk', 'Nymphenburg', 'Obermenzing'],
        81829: ['Josephsburg', 'Messestadt Riem', 'Trudering-Riem'],
        80999: ['Allach-Untermenzing'],
        80797: ['Alte Kaserne', 'Am Luitpoldpark', 'Am Riesenfeld', 'Augustenstraße', 'Dom Pedro', 'Josephsplatz', 'Maßmannbergl', 'Neuschwabing', 'Oberwiesenfeld', 'Schwere-Reiter-Straße'],
        81249: ['Allach-Untermenzing', 'Altaubing', 'Aubing-Süd', 'Freiham', 'Lochhausen', 'Obermenzing'],
        80807: ['Alte Heide-Hirschau', 'Am Riesenfeld', 'Milbertshofen', 'Neufreimann'],
        80469: ['Am Schlachthof', 'Am alten südlichen Friedhof', 'Angerviertel', 'Deutsches Museum', 'Dreimühlen', 'Glockenbach', 'Graggenau', 'Gärtnerplatz'],
        81476: ['Forstenried', 'Fürstenried-West'],
        81669: ['Haidhausen Süd', 'Obere Au', 'Ramersdorf', 'Untere Au'],
        80339: ['Friedenheim', 'Schwanthalerhöhe', 'St. Paul', 'Untersendling', 'Westend'],
        81739: ['Altperlach', 'Neuperlach', 'Waldperlach'],
        81677: ['Altbogenhausen', 'Daglfing', 'Englschalking', 'Haidhausen Nord', 'Parkstadt', 'Steinhausen'],
        80638: ['Moosach-Bahnhof', 'Neuhausen', 'Nymphenburg', 'Obermenzing'],
        81369: ['Mittersendling', 'Sendlinger Feld', 'Thalkirchen', 'Untersendling'],
        81671: ['Berg am Laim Ost', 'Echarding', 'Haidhausen Nord', 'Haidhausen Süd', 'Josephsburg', 'Neuperlach', 'Ramersdorf'],
        81541: ['Balanstraße-West', 'Obere Au', 'Obergiesing', 'Ramersdorf', 'Untere Au', 'Untergiesing'],
        81927: ['Englschalking', 'Johanneskirchen', 'Oberföhring'],
        81549: ['Balanstraße-West', 'Neuharlaching', 'Obergiesing', 'Ramersdorf', 'Südgiesing'],
        80801: ['Münchner Freiheit', 'Neuschwabing', 'Schwabing-Ost'],
        80639: ['Friedenheim', 'Neuhausen', 'Neupasing', 'Nymphenburg'],
        81675: ['Altbogenhausen', 'Haidhausen Nord', 'Herzogpark', 'Maximilianeum', 'Steinhausen'],
        80992: ['Alt-Moosach', 'Am Riesenfeld', 'Dom Pedro', 'Moosach-Bahnhof', 'Neuhausen', 'Nymphenburg', 'Obermenzing'],
        81371: ['Sendlinger Feld', 'Thalkirchen'],
        81543: ['Obergiesing', 'Sendlinger Feld', 'Siebenbrunn', 'Untere Au', 'Untergiesing'],
        80796: ['Am Luitpoldpark', 'Neuschwabing'],
        81377: ['Am Waldfriedhof', 'Großhadern', 'Mittersendling', 'Neuhadern'],
        80636: ['Alte Kaserne', 'Dom Pedro', 'Marsfeld', 'Oberwiesenfeld', 'St. Benno', 'St. Vinzenz'],
        80939: ['Alte Heide-Hirschau', 'Am Hart', 'Freimann', 'Obere Isarau'],
        81673: ['Berg am Laim Ost', 'Echarding', 'Englschalking', 'Haidhausen Nord', 'Josephsburg', 'Neuperlach'],
        80336: ['Am alten südlichen Friedhof', 'Angerviertel', 'Hackenviertel', 'Ludwigsvorstadt-Kliniken', 'Sendlinger Feld', 'St. Paul'],
        81539: ['Balanstraße-West', 'Giesing', 'Obergiesing', 'Ramersdorf', 'Untergiesing'],
        80634: ['Dom Pedro', 'Neuhausen', 'Nymphenburg', 'St. Vinzenz'],
        80686: ['Friedenheim', 'Land in Sonne', 'St. Ulrich'],
        81379: ['Am Waldfriedhof', 'Forstenried', 'Mittersendling', 'Obersendling', 'Sendlinger Feld', 'Siebenbrunn', 'Thalkirchen', 'Untergiesing', 'Untersendling'],
        81735: ['Berg am Laim Ost', 'Gartenstadt Trudering', 'Neuperlach', 'Ramersdorf', 'Waldtrudering'],
        80799: ['Am alten nördlichen Friedhof', 'Königsplatz', 'Neuschwabing', 'Schwabing-Ost', 'Universität'],
        81477: ['Forstenried', 'Obersendling', 'Solln'],
        81925: ['Herzogpark', 'Oberföhring', 'Parkstadt'],
        81479: ['Obersendling', 'Solln', 'Thalkirchen'],
        81545: ['Giesing', 'Harlaching'],
        81929: ['Daglfing', 'Englschalking', 'Johanneskirchen', 'Trudering-Riem'],
        80802: ['Biederstein', 'Englischer Garten', 'Kleinhesselohe', 'Münchner Freiheit', 'Schwabing-Ost', 'Schönfeldvorstadt', 'Universität'],
        80335: ['Augustenstraße', 'Hackenviertel', 'Kreuzviertel', 'Königsplatz', 'Ludwigsvorstadt-Kliniken', 'Marsfeld', 'Maßmannbergl', 'St. Benno', 'St. Paul', 'St. Vinzenz'],
        80995: ['Alt-Moosach', 'Feldmoching', 'Industriebezirk', 'Lerchenau-Ost', 'Lerchenau-West', 'Ludwigsfeld', 'Moosach-Bahnhof'],
        81243: ['Aubing-Süd', 'Pasing'],
        80997: ['Industriebezirk', 'Ludwigsfeld', 'Moosach-Bahnhof', 'Obermenzing'],
        80809: ['Alt-Moosach', 'Am Luitpoldpark', 'Am Riesenfeld', 'Milbertshofen', 'Oberwiesenfeld'],
        80331: ['Angerviertel', 'Deutsches Museum', 'Graggenau', 'Hackenviertel', 'Kreuzviertel', 'Lehel', 'Ludwigsvorstadt-Kliniken'],
        80803: ['Am Luitpoldpark', 'Münchner Freiheit', 'Neuschwabing', 'Schwabing-Ost'],
        80935: ['Alt-Moosach', 'Am Hart', 'Am Riesenfeld', 'Lerchenau-Ost', 'Lerchenau-West'],
        81827: ['Waldtrudering'],
        80805: ['Alte Heide-Hirschau', 'Biederstein', 'Münchner Freiheit', 'Neufreimann'],
        81373: ['Land in Sonne', 'Mittersendling', 'Sendlinger Feld', 'Untersendling', 'Westend'],
        81737: ['Altperlach', 'Neuperlach', 'Ramersdorf', 'Waldperlach'],
        80937: ['Am Hart', 'Lerchenau-Ost'],
        81475: ['Am Waldfriedhof', 'Forstenried', 'Fürstenried-West'],
        80637: ['Alt-Moosach', 'Alte Kaserne', 'Dom Pedro', 'Moosach-Bahnhof', 'Neuhausen', 'Oberwiesenfeld', 'Schwere-Reiter-Straße', 'St. Vinzenz'],
        80798: ['Am alten nördlichen Friedhof', 'Augustenstraße', 'Josephsplatz', 'Königsplatz', 'Maßmannbergl', 'Neuschwabing'],
    };
    
    $el = $("select[name='0-stadtbezirk']");
    $el.empty();
    map[$(this).val()].forEach(function(stadtbezirk) {
        $el.append($('<option></option>').attr("value", stadtbezirk).text(stadtbezirk));
    });
});
</script>
{%endblock %}
