{% extends "base.html" %} {% load i18n %} {% load staticfiles %} {% block header_title %} Deine Miete {% endblock %} {% block extra_head %}
<meta name="description" content="TODO">
<meta name="author" content="TODO"> {% endblock %} {% block scripts %}
<!--script src="{% static 'js/custom.js' %}"></script-->
{% endblock %}

{% block body-tag %}
<body>
    <h1>Deine Miete</h1>
    
    <div style="max-width: 800px; margin: 0px auto">
        <form action="/" method="post">
            <div class="question">{% csrf_token %}
                <div>
                    <p class="question-title">Kaltmiete</p>
                    <div class="input-wrapper">
                        <input value="{{form.kaltmiete.value|default_if_none:''}}"> €</div>
                </div>
                <div class="explenation">Deine Miete in ohne Nebenkosten wie Strom, Wasser, Heizung, Hausverwaltung, Garage, etc.</div>
            </div>
            <hr>
            <div class="question">
                <div style="width: 100%">
                    <p class="question-title">Wohnungsgröße</p>
                    <div class="input-wrapper">
                        
                        <input value="{{form.groesse.value|default_if_none:''}}"> m²</div>
                </div>
                <div class="explenation">Die Größe deiner Wohnung</div>
            </div>
            <hr>
            <div class="question">
                <div>
                    <p class="question-title">Postleitzahl</p>
                    <div class="input-wrapper">
                        <select name="plz" value="{{form.plz.value|default_if_none:''}}">
                        {% for plz in postleitzahl %}
                            <option value="{{ plz }}">{{ plz }}</option>
                        {% endfor %}
                        <select>
                    </div>
                </div>
                <div>
                    <p class="question-title">Stadtbezirk</p>
                    <div class="input-wrapper">
                        <select name="stadtteil" value="{{form.stadtteil.value|default_if_none:''}}">
                        {% for stadtteil in stadtteile %}
                            <option value="{{ stadtteil }}">{{ stadtteil }}</option>
                        {% endfor %}
                        </select>
                    </div>
                </div>
                <div class="explenation">Wir benötigen deine Postleitzahl und deinen Stadtbezirk, um die unterschiedlichen Mieten in den verschiedenen Teilen Münchens erfassen zu können</div>
            </div>
            <hr> {{ form.captcha.errors }} {{ form.captcha }}

            <input type="submit" value="Absenden"/>
        </form>
    </div>
{% endblock %}
    
{% block footer %}
    <p>footer<p>
{% endblock %}
