#all-questions {
    max-width: 600px;
    margin: 0 auto;
}

hr {
    margin: 10px 0;
    background-color: red;
    margin-right: 25px; /** makes the line end where the input field ends */
}

.question {
    display: inline-block;
    width: 100%;
    margin: 0px 0;
}

.question > div {
    clear: both;
    padding: 10px 0;
}

.question-title {
    display: inline-block;
    font-size: 28px;
    font-weight: 400;
    float: left;
}

.input-wrapper {
    width: 205px; /* vertically aligns the input fields. sass/less variables might be a better solution */
    float: right;
    margin-top: 10px; /* TODO: clean solution that also works with different font size */

}
.input-wrapper > input,  .input-wrapper > select {
    height: 25px;
    width: 175px;
    background: white;
    border: 1px solid grey;
}

.explanation {
    color: #333;
}

#captcha {
    float: left;
}

#submit {
    float: right;
    width: 205px;
}

#submit > input {
    width: 180px;
    height: 50px;
}
