ul#partners {
    list-style: none;
}

ul#partners > li {
    display: inline-block;
    width: 33%;
    text-align: center;
}

ul#partners > li > div {
    margin: 5px;
}

ul#partners > li > div > img {
    width: 80%;
}

@media (max-width: 850px) {
    ul#partners > li {
        width: 32%;
    }
}

@media (max-width: 600px) {
    ul#partners > li > div > img {
        width: 90%
    }
}

#all-questions {
    max-width: 600px;
    margin: 0 auto;
}

hr {
    margin: 10px 0;
    background-color: red;
}

.question {
    display: inline-block;
    width: 100%;
    margin: 0px 0;
}

.question > div {
    clear: both;
    padding: 20px 0;
}

.question-title {
    display: inline-block;
    font-size: 24px;
    font-weight: 400;
    float: left;
}

.input-wrapper {
    float: right;
}

.input-wrapper > input,  .input-wrapper > select {
    height: 25px;
    width: 175px;
    background: white;
    border: 1px solid grey;
}

.explanation {
    color: #333;
}

#captcha {
    float: left;
}

#submit {
    float: right;
}

#submit > input {
    width: 180px;
    height: 50px;
}

form#Umfrage {
    padding-right: 20px;
}

#unit {
    display: inline-block;
    position: absolute;
    margin-left: 5px;
}

#map { 
    height: 400px; 
}
